@{
    ViewData["Title"] = "Bugün Yemekte...";
}
@model Molulip.Import.Models.Meal
<div class="col-md-6 col-md-offset-4">
    <h3>Bügün Yemekte...</h3>
    <span>@Model.Col1.ToShortDateString()</span><br />
    <br />
    <ul>
        <li>@Model.Col2</li>
        <li>@Model.Col3</li>
        <li>@Model.Col4</li>
        <li>@Model.Col5</li>
        <li>@Model.Col6</li>
        <li>@Model.Col7</li>
        <li>@Model.Col8</li>
        <li>@Model.Col9</li>
        <li>@Model.Col10</li>
        <li>@Model.Col11</li>

    </ul>


</div>